@import "../abstract/variaveis"; //As variáveis funcionam mesemo sem o import específico aqui

.banner {
  background: url(../../imagens/banner.jpeg) 27% center no-repeat;
  min-height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;

  .inner-banner {
    padding: 3rem;
    background-color: $cor-terciaria;
    border-radius: 1rem;
    opacity: 0.9;

    h1 {
      font-size: $tamanho-do-texto;
      color: $cor-primaria;
    }

    h2 {
      font-size: $tamanho-do-texto / 2;
      color: $cor-secundaria;
    }
  }
}
