//Arquivos começados com underline, não geram CSS. São feitos para importar


@import '../abstract/variaveis';

nav {
  text-align: center;
  ul {
    li {
      display: inline-block;
      padding: 1rem;
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: $cor-primaria;
        &:hover {
          border-bottom: 2px solid $cor-secundaria;
        }
      }
    }
  }
}
