//Arquivos começados com underline, não geram CSS. São feitos para importar


//FONTES
$fonte: "Roboto", sans-serif;

// TAMANHO DAS FONTES
$tamanho-do-texto: 3rem;


//CORES
$cor-primaria: #1A120B;
$cor-secundaria: #3C2A21;
$cor-terciaria: #E5E5CB;

