// Variáveis
$cor-principal: #FA58B6;
$cor-secundária: #270082;

body {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;

  .esquerda {
    width: 50%;
    background-color: $cor-principal;

    .texto {
      margin-top: 40%;
      text-align: center;
      font-size: 100px;
      color: $cor-secundária;
    }
  }

  .direita {
    width: 50%;
    background-color: $cor-secundária;
    .texto {
      margin-top: 40%;
      text-align: center;
      font-size: 100px;
      color: $cor-principal;
    }
  }
}
