/* //________________________PRIMEIRO CAPÍTULO_______________________________
// Variáveis
$cor-principal: #fa58b6; //Se cria variável com o dolar $
$cor-secundária: #270082;

@mixin reset {
  //Se cria função arroba
  margin: 0;
  padding: 0;
}

@mixin cor-e-texto($cor-de-fundo, $cor-do-texto) {
  width: 50%;
  background-color: $cor-de-fundo;

  .texto {
    margin-top: 40%;
    text-align: center;
    font-size: 100px;
    color: $cor-do-texto;
  }
}

body {
  @include reset()
    //Chamando a função || Não precisa dos parenteses, se n tiver os parâmetros
;
}

.container {
  height: 100vh;
  display: flex;

  .esquerda {
    @include cor-e-texto($cor-principal, $cor-secundária);
  }

  .direita {
    @include cor-e-texto($cor-secundária, $cor-principal);
  }
}

*/

//___________________________________________________SEGUNDO CAPÍTULO EM DIANTE____________________________________________________
@import "./abstract/base";
@import "./componentes/navbar";
@import "./componentes/banner";
@import "./componentes/servicos";
